<div class="wrapper">
  <div class="content">
    <h1>Front end Developer</h1>
    <button (click)="onClickMe()">Show My Foto</button>
    <p>
      <img src="{{clickMessage}}" alt="">
    </p>
    <h2>
      <p>Name:
        <span>{{user.first_name}}</span>
        <span>{{user.last_name}}</span>
      </p>
      <p>Age: {{user.age}}</p>
    </h2>
    <div *ngIf="showBlock" class="table">
      <div class="technologies">
        <h3>Technologies</h3>
          <li *ngFor="let skill of stack">
            {{skill.label}}
          </li>
      </div>
      <div class="hobbies">
        <h3>Hobbies</h3>
          <li *ngFor="let hobbies of hobby">
            {{hobbies.name}}
          </li>
      </div>
    </div>
  </div>
</div>

